#sinatra_authentication
  %h1.page_title #{t('users')}
  %table
    %tr
      %th #{t('email')}
      - if current_user.admin?
        %th #{t('admin')}
      %th #{t('options')}
    - @users.each do |user|
      %tr
        %td
          - if user.email
            = user.email
          - elsif user.fb_uid
            <fb:name uid=#{user.fb_uid} />
          - else
            "user #{user.id}"
        - if current_user.admin?
          %td= user.admin?.to_s.upcase
        %td
          %a{:href => "/users/#{user.id}"} #{t('show')}
          - if current_user.admin?
            %a{:href => "/users/#{user.id}/edit"} - #{t('edit')}
            - if !user.site_admin? && user.id != current_user.id
              %a{:href => "/users/#{user.id}/delete", :onclick => "return confirm('you sure?')"} - #{t('delete')}
