#sinatra_authentication
  %h1.page_title
    - if @user.email
      = @user.email
    - elsif @user.fb_uid
      <fb:name uid=#{@user.fb_uid} linked='false' />
  %p #{t('joined')} #{@user.created_at}
  %p #{t('admin')} #{@user.admin?.to_s.upcase}
  - if current_user.admin?
    %p #{t('permission_level')} #{@user.permission_level}
